body {
	color: #000066;
	font-family: "Arial";
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #48D1CC;
	font-weight: bold;
}

a:visited {
	color: #48D1CC; 
}

.error {
	color: red;
}

.login {
	width: 300px;
}

.account-list p {
	font-weight: bold;
}

.login p {
	font-size: 30px;
	font-family: "Arial";
	font-weight: bold;
	text-align: center;
	background-color: #000066;
	color: white;
	padding: 0;
	margin: 0;
}

.login-form p {
	font-size: 15px;
	background-color: white;
	color: black;
	padding-top: 20px;
}

.login-form {
	border: 3px solid #000066;
}

/*Button made from http://css3buttongenerator.com/ */
#submit, #submitButton {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  background: #E8670C;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#submitButton {
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

#submit:hover, #submitButton:hover {
  background: #E88A0C;
  text-decoration: none;
  cursor: pointer;
}

table {
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
	border: 3px solid #000066;
	font-family: "Arial";
	border-collapse: collapse;
}

caption{
	background-color: #000066;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: white;
	font-family: "Arial";
	font-size: 20px;
	font-weight: bold;
}

tr:nth-child(even) {
    background-color: #48D1CC;
}

td:first-child { 
	font-weight: bold;
}

td {
	color: black;
	padding: 5px;
}

th {
	padding: 10px;
	background-color: #000066;
	color: white;
}